header.header 
    .header__top.wrapper
        span Результат — на 100 и 7!  
        a(href="mailto:go@uniton.ru")
            .icon 
                img(src="./images/icon/mail.svg", alt="mail")
            span go@uniton.ru
        a(href="tel:+79830011007") 
            .icon 
                img(src="./images/icon/phone.svg", alt="phone")
            span +7-983 -001-100-7
        p 
            .icon 
                img(src="./images/icon/map.svg", alt="map")
            span Римского-Корсакова, 9/4
    .header__bottom.wrapper 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        nav.menu 
            ul 
                li 
                    a(href="#") Программа обучения
                li 
                    a(href="#") Наставники
                li 
                    a(href="#") Стоимость
                li 
                    a(href="#") Контакты
                li 
                    a(href="#") Записаться в Школу Радио Юнитон
section.slider 
    .slider__wrap 
        .slider__slide 
            img(src="./images/decor/slider.jpg", alt="slider")
            .slider__text 
                h1 Туристические походы по Горному Алтаю
                a(href="#") 
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 18H2.25C1.62891 18 1.09863 17.7803 0.65918 17.3408C0.219727 16.9014 0 16.3711 0 15.75V6.75C0 6.12891 0.219727 5.59863 0.65918 5.15918C1.09863 4.71973 1.62891 4.5 2.25 4.5H4.5V2.8125C4.5 2.01562 4.79883 1.34766 5.39648 0.808594C5.99414 0.269531 6.63281 0 7.3125 0H10.6875C11.3672 0 12.0059 0.269531 12.6035 0.808594C13.2012 1.34766 13.5 2.01562 13.5 2.8125V4.5H15.75C16.3711 4.5 16.9014 4.71973 17.3408 5.15918C17.7803 5.59863 18 6.12891 18 6.75V15.75C18 16.3711 17.7803 16.9014 17.3408 17.3408C16.9014 17.7803 16.3711 18 15.75 18ZM5.0625 7.875C4.59375 7.875 4.19531 8.03906 3.86719 8.36719C3.53906 8.69531 3.375 9.09375 3.375 9.5625C3.375 10.0312 3.53906 10.4297 3.86719 10.7578C4.19531 11.0859 4.59375 11.25 5.0625 11.25C5.53125 11.25 5.92969 11.0859 6.25781 10.7578C6.58594 10.4297 6.75 10.0312 6.75 9.5625C6.75 9.09375 6.58594 8.69531 6.25781 8.36719C5.92969 8.03906 5.53125 7.875 5.0625 7.875ZM11.25 3.375C11.25 3.05859 11.1416 2.79199 10.9248 2.5752C10.708 2.3584 10.4414 2.25 10.125 2.25H7.875C7.57031 2.25 7.30664 2.3584 7.08398 2.5752C6.86133 2.79199 6.75 3.05859 6.75 3.375V4.5H11.25V3.375ZM14.625 11.25L10.125 12.375L11.25 15.75L15.75 14.625L14.625 11.25Z" fill="#081C45"/>
                    </svg>
                    span хочу в поход
section.service
    .wrapper 
        h2 Туры
        .service__wrap
            .service__item 
                .service__image 
                    img(src="./images/decor/service-1.jpg", alt="service")
                    span 
                        img(src="./images/icon/clock.svg", alt="clock")
                        | 2 дня
                .service__text 
                    h3 Стойбище Харп
                    a(href="#") Подробнее
            .service__item 
                .service__image 
                    img(src="./images/decor/service-2.jpg", alt="service")
                    span 
                        img(src="./images/icon/clock.svg", alt="clock")
                        | 15 дней
                .service__text 
                    h3 Озеро Уймень
                    a(href="#") Подробнее
            .service__item 
                .service__image 
                    img(src="./images/decor/service-3.jpg", alt="service")
                    span 
                        img(src="./images/icon/clock.svg", alt="clock")
                        | 7 дней
                .service__text 
                    h3 Походы в сентябре
                    a(href="#") Подробнее
            .service__item 
                .service__image 
                    img(src="./images/decor/service-4.jpg", alt="service")
                    span 
                        img(src="./images/icon/clock.svg", alt="clock")
                        | 5 дней
                .service__text 
                    h3 Майские праздники на Алтае
                    a(href="#") Подробнее
            .service__btn 
                a(href="#") Все туры
section.about 
    .travel.wrapper 
        h2 Наши туры для тех кто
        


